In [1]:
import pandas as pd
import mysql.connector

In [2]:
conn = mysql.connector.connect(
    host="localhost",
    database="SQL_Island",
    user="root",
    password="Welcome100" )
    
mycursor = conn.cursor()

In [6]:
# story starts here
# The GUY, after the plain crash, he is stuck in the island. 
# Luckyly he found few other survivors in the island
# and using SQL we gonna help him survive in the island. Let

#1) Lets see who are all in the village
mycursor.execute("select * from village")
islands = mycursor.fetchall()
df = pd.DataFrame(islands)
print(df)

   0             1   2
0  1    Monkeycity   1
1  2  Cucumbertown   6
2  3    Onionville  13

In [7]:
# 2) Lets see who are all the inhabitants in these islands

mycursor.execute("select * from inhabitant")
inhabitants = mycursor.fetchall()
df = pd.DataFrame(inhabitants)
print(df)

     0                  1  2  3            4     5          6
0    1      Paul Bakerman  1  m        baker   850   friendly
1    2       Ernest Perry  3  m  weaponsmith   280   friendly
2    3            Rita Ox  1  f        baker   350   friendly
3    4            Carl Ox  1  m     merchant   250   friendly
4    5       Dirty Dieter  3  m        smith   650       evil
5    6  Gerry Slaughterer  2  m      butcher  4850       evil
6    7  Peter Slaughterer  3  m      butcher  3250       evil
7    8      Arthur Tailor  2  m        pilot   490  kidnapped
8    9    Tiffany Drummer  1  f        baker   550       evil
9   10      Peter Drummer  1  m        smith   600   friendly
10  11        Dirty Diane  3  f       farmer    10       evil
11  12     Otto Alexander  2  m       dealer   680   friendly
12  13           Fred Dix  3  m       author   420   friendly
13  14   Enrico Carpenter  3  m  weaponsmith   510       evil
14  15    Helen Grasshead  2  f       dealer   680   friendly
15  16         Ivy Hatter  1  f       dealer   770       evil
16  17   Edward Grasshead  3  m      butcher   990   friendly
17  18         Ryan Horse  3  m   blacksmith   390   friendly
18  19          Ann Meaty  2  f      butcher  2280   friendly

In [8]:
# 3) The GUY is hungry, he wants to eat something. He reached buthcher for food
# The Butcher suggets to go to a Friendly Butcher.
# Lets see who are all the friendly people in the islands.

mycursor.execute("select * from inhabitant where state = 'friendly'")
friendly = mycursor.fetchall()
df = pd.DataFrame(friendly)
print(df)

     0                 1  2  3            4     5         6
0    1     Paul Bakerman  1  m        baker   850  friendly
1    2      Ernest Perry  3  m  weaponsmith   280  friendly
2    3           Rita Ox  1  f        baker   350  friendly
3    4           Carl Ox  1  m     merchant   250  friendly
4   10     Peter Drummer  1  m        smith   600  friendly
5   12    Otto Alexander  2  m       dealer   680  friendly
6   13          Fred Dix  3  m       author   420  friendly
7   15   Helen Grasshead  2  f       dealer   680  friendly
8   17  Edward Grasshead  3  m      butcher   990  friendly
9   18        Ryan Horse  3  m   blacksmith   390  friendly
10  19         Ann Meaty  2  f      butcher  2280  friendly

In [9]:
# 4) The GUY wants a sword. He is gonna reach weaponsmith to get a weapon.

mycursor.execute("select * from inhabitant where state = 'friendly' and job = 'weaponsmith'")
weapon = mycursor.fetchall()
df = pd.DataFrame(weapon)
print(df)

   0             1  2  3            4    5         6
0  2  Ernest Perry  3  m  weaponsmith  280  friendly

In [11]:
# 5) The GUY wants a sword. He is gonna reach weaponsmith to get a weapon.
# another option! The Guy can reach any type of smiths can help to get weapon.

mycursor.execute("select * from inhabitant where state = 'friendly' and job like '%smith'")
weapon_smiths = mycursor.fetchall()
df = pd.DataFrame(weapon_smiths)
print(df)

    0              1  2  3            4    5         6
0   2   Ernest Perry  3  m  weaponsmith  280  friendly
1  10  Peter Drummer  1  m        smith  600  friendly
2  18     Ryan Horse  3  m   blacksmith  390  friendly

In [ ]:
# 6) The GUY wants to register his name in the database.

mycursor.execute("INSERT INTO inhabitant (name, villageid, gender, job, gold, state) VALUES ('Stranger', 1, '?', '?', 0, '?')")
mycursor.execute("commit")
mycursor.execute("select * from inhabitant")
registration = mycursor.fetchall()
df = pd.DataFrame(registration)
print(df)

In [14]:
# 7) The GUY wants to rknow is person id

mycursor.execute("select personid from inhabitant where name ='Stranger'")
personid = mycursor.fetchall()
df = pd.DataFrame(personid)
print(df)

    0
0  20